/* app/components/SignInButton.module.css */
.LoginBox {
  width: 100%;
  height: auto;
  /* background-color: #f56565; */
}

.logInButton {
  padding: 12px 48px; /* px-12 py-4와 동일 */
  border: 1px solid #000; /* 기본 테두리 */
  border-radius: 15px; /* rounded-xl과 동일 */
  background-color: #000; /* bg-yellow-300과 동일 */
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.logOutButton {
  padding: 4px 12px;
  background-color: #fff; /* bg-red-300과 동일 */
  border: 0.5px solid #999; /* 기본 테두리 */
  color: #000;
  font-size: 14px;
  font-weight: 200;
}

.profile_name {
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
