/* app/(UnLogined)/loginEntrypage/loginPage/Page.module.css */

.Container{
  display: flex; /* 가로 방향 유지를 위해 flex 설정 */
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #fff;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100dvh;
  align-items: center;
}

.logo {
  width: 70%;
  height: auto;
}

.loginTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 300;
}

.inputGroup {
  margin-top: 10px;
}

.inputField {
  margin-top: 5px;
}

.loginButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.kakaoButton {
  display: inline-block;
  width: 70%;
  min-width: 250px;
  background-color: #fee500; /* 카카오 노란색 */
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.kakaoButton button {
  background: transparent; /* 배경 투명 처리 */
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 윤곽선 제거 */
  width: 100%;
  padding: 12px 0px; /* 원하는 패딩 적용 */
  margin: 0; /* 마진 제거 */

  font-family: Arial, sans-serif; /* 원하는 폰트 적용 */
  color: rgb(30, 10, 10); /* 폰트 색상 설정 */
  font-size: 16px; /* 폰트 크기 설정 */
  font-weight: bold;
  cursor: pointer; /* 커서 스타일 변경 */
  transition: background-color 0.3s; /* 배경색 변경 시 트랜지션 적용 */
}
