.talklist-container{
    background-color: #FFF;
    min-height: 100%;
    width: 100vw;
}

.talkroom-div{
    width: 100vw;
}

.talkroom{
    width: 100%;
    height: 95px;
    background-color: #EBEBEB;
    margin-bottom: 10px;
    padding: 15px 0 15px 20px;
    display: flex;
}

.talkroom:focus, .talkroom:active{
    background-color: #edafb8;
}

.talkroom-img{
    border-radius: 25%;
}

.talkroom-data-a{
    margin-left: 15px;
}

.talkroom-data-b{
    display: flex;
    align-items: center;
}

.roomcapa{
    margin-left: 5px;
    font-size: 16px;
}

.roominfo{
    font-size: 16px;
    margin-top: 5px;
}

.roomname{
    font-size: 24px;
    font-weight: bold;
}