.modalBackground {
    position: fixed; /* 전체 화면에 걸쳐 고정 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소들 위에 오도록 z-index 설정 */
  }
  
.modalContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 400px;

    justify-content: center;
    align-items: center;

    padding: 20px;
    background-color: #ffffff; /* 원하는 배경색 */
    border-radius: 10px;
    z-index: 1001; /* 배경보다 앞에 오도록 z-index 설정 */
}

.closeButton {
    width: 30px;
    height: 30px;
    
    margin-bottom: 40px;
}

.commentBox {
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;

    border: 1px solid #ddd;
    border-radius: 10px;

    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.joinButton {
    width: 100px;
    
    text-align: center;
    padding: 5px;

    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: lightblue;
}