/* LoginedLayout.module.css */
.layoutContainer {
  display: flex;
  flex-direction: row;
}

.ColumnlayoutContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column; /* 전체 레이아웃을 세로 방향으로 설정 */
}

.navigation {
  display: flex; /* 가로 방향 유지를 위해 flex 설정 */
  width: auto; /* Navigation의 너비 설정 */
}

.content {
  display: flex; /* 가로 방향 유지를 위해 flex 설정 */
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  min-height: 100dvh;
  background-color: #fff;
}
